.statistics-container{
    align-self: flex-start;
    width: 100%;
    @include respond-to('very-small') {
               
        align-self: center; 
        
    }
}

.intro-statistics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; 
    gap: 20px;
    margin: 25px 0;
    overflow: visible; 
    
    @include respond-to('very-small') {
               
        align-self: center; 
        width: calc(100% - 10%);
        margin: 35px 5%;
        
    }
}
    

    .intro-statistic {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        background-color: $light-dark-bg;
        border: 1px solid $border-gray;
        border-radius: 12px;
        flex: 1 1 220px;
        min-width: 120px;
        max-width: 240px;
        height: 121px;
        padding: 15px;
        box-sizing: border-box;
        overflow: visible; 
        white-space: nowrap; 
        z-index: 100; 

        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

        h3 {
            margin: 0;
            padding: 0;
            color: $main-text-white;
            font-weight: $font-weight-bold;
            @include responsive-font-size(24px, 30px, 40px);
        }

        p {
            color: $secondary-text-gray;
            
        }

        @include respond-to('medium') {
            height: 99px;
            flex: 1 1 220px;
            min-width: 180px;
        }

        @include respond-to('small') {
            height: 90px;
            flex: 0 1 180px;
            min-width: 150px;
        }

        @include respond-to('very-small') {
               
            justify-content: flex-start;
            align-items: flex-start;
            
        }
        
    }

@include respond-to('very-small') {
    .intro-statistics{
        flex-wrap: wrap;
        justify-content: center;

        .intro-statistic{
            flex: 1 1 103px;
            min-width: 100px;
            height: auto;
            h3 {
               font-size: 4vw;
            }
    
            p {
                font-size: 2vw;
            }
        }
    }
    
}