.value-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
   
    width: 360px;
    height: 200px;
    gap: 20px;

    .value-card-title{
        color: white;
        @include responsive-font-size(18px,24px,30px);
    }
    .value-card-value{
        color: $secondary-text-gray;
        @include responsive-font-size(14px,16px,18px);
        font-weight: normal;
    }
   

    .title-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .value-card-img{
        width: 74px;
        height: 74px;
    }


}
