@import './variables';

@mixin respond-to($breakpoint) {
  @if $breakpoint == '2xl' {
      @media (max-width: 1480px) {
          @content;
      }
  } @else if $breakpoint == 'xl' {
      @media (max-width: 1280px) {
          @content;
      }
  } @else if $breakpoint == 'lg' {
      @media (max-width: 1024px) {
          @content;
      }
  } @else if $breakpoint == 'md' {
      @media (max-width: 768px) {
          @content;
      }
  } @else if $breakpoint == 'sm' {
      @media (max-width: 640px) { // Pakeisk į 640px
          @content;
      }
  } @else if $breakpoint == 'xs' {
      @media (max-width: 475px) {
          @content;
      }
  }
}


    


  @mixin responsive-font-size($size-small, $size-medium, $size-large) {
    font-size: $size-large; 

    @include respond-to('medium') {
        font-size: $size-medium; 
    }

    @include respond-to('small') {
        font-size: $size-small; 
    }
    @include respond-to('small') {
        font-size: $size-small; 
    }
}


@mixin responsive-padding($padding-normal, $padding-medium, $padding-large) {
  padding: $padding-large;  

  @include respond-to('medium') {
      padding: $padding-medium; 
  }

  @include respond-to('small') {
      padding: $padding-normal; 
  }
}

@mixin responsive-padding-top($padding-normal, $padding-medium, $padding-large) {
  padding-top: $padding-large; 

  @include respond-to('medium') {
    padding-top: $padding-medium;
  }

  @include respond-to('small') {
    padding-top: $padding-normal; 
  }
}


@mixin btn($border-color, $color) {
    padding: 18px 0;
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: $color;
    font-family: $primary-font;
    font-weight: $font-size-normal;
    color: $main-text-white;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
    padding: 20px 28px;
    @include responsive-font-size(14px,16px,18px);

    // Pridėkite metalinį efektą hover metu
    &:hover {

        box-shadow: 1px 1px 15px #202020;
                 
        transform: translateY(-1px); // Šiek tiek pakeliamas efektas
    }
  
    &:active {
      transform: scale(0.98);
      
    }
  
    // &:hover {
    //   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    // }

    @include respond-to('medium') {
      padding: 14px 20px;
    }
    @include respond-to('small') {
      padding: 14px 20px;
    }
    @include respond-to('very-small') {
      font-size: 2.5vw;
      width: 100%;
    }
  }