@import '../../abstracts/mixins';
@import '../../abstracts/variables';

.feedback-card{
    display: grid;
    grid-template-rows: auto auto minmax(90px, auto) auto;
    grid-template-columns: 1fr; 
    background-color: transparent;
    border: 1px solid $border-gray;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    padding: 40px;
    flex: 1 1 352px;
    min-width: 150px;
    width: 100%;
    gap: 20px;

    @include respond-to('small1') {
        grid-template-rows: auto auto minmax(40px, auto) auto; 
    }
    @include respond-to('very-small') {
        grid-template-rows: auto auto minmax(20px, auto) auto; 
    }

    .stars-container{
       
        grid-row: 1;
        margin-bottom: 10px;

        img{
            margin-right: 5px;

            @include respond-to('small') {
                width: 40px;
                height: 40px;
            }

            @include respond-to('very-small') {
                width: 40px;
                height: 40px;
            }
        }
    }

    h3{
       
        grid-row: 2;
        color: $secondary-text-gray;
        @include responsive-font-size(18px, 20px, 24px)
    }


    &:hover {
        transform: scale(1.02);
    }


    p{
       
        grid-row: 3;
        color: $secondary-text-gray;
    }

    .client-info-container{
        grid-row: 4;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .name{
            color: $main-text-white;
            margin: 5px 0;

        }

        .location{
            color: $secondary-text-gray;
            margin: 5px 0;
        }

        

    }
}