@import '../../abstracts/variables';

.intro-slogans{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    border: 1px solid $border-gray;
    background-color: $dark-bg;
    padding: 10px;
    

    .intro-slogan {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $light-dark-bg;
        border: 1px solid $border-gray;
        border-radius: 10px;
        flex: 1 1 200px; 
        min-width: 164px; 
        height: 212px; 
        color: $main-text-white;
        padding: 10px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;

    
        .slogan-icon {
            width: 82px;
            height: 82px;
    
            
        }

        h3{
        @include responsive-font-size(14px, 16px, 20px);
           text-align: center;
        }

        

        @include respond-to('medium') {
 
            height: 160px; 
            .slogan-icon{
                width: 60px;
                height: 60px;
            }
        }

        @include respond-to('small') {
            height: 144px; 
            .slogan-icon{
                width: 48px;
                height: 48px;
            }
        }
    }
    
}

.link-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    color: #4D4D4D;

    @include respond-to('medium') {
 
        width: 26px;
        height: 26px;
    }

    @include respond-to('small') {
        width: 24px;
        height: 24px;
    }
}
.intro-slogan:hover .link-icon {
    color: white; 
}