@import '../abstracts/mixins';

body{
    margin: 0px;
    padding: 0px;
    font-family: $primary-font;
    overflow-x: hidden;
    @include responsive-font-size(14px,16px,18px);

    h1,h2,h3,h4,h5,h6, p{
        margin: 0px;
        padding: 0px;
    }

}

html {
    scroll-behavior: smooth;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}