
.faq-card{
    display: grid;
    grid-template-rows: minmax(90px, auto) minmax(65px, auto) auto;
    grid-template-columns: 1fr; 
    background-color: transparent;
    border: 1px solid $border-gray;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    padding: 40px;
    flex: 1 1 352px;
    min-width: 150px;
    width: 100%;
    gap: 20px;
    position: relative;

    @include respond-to('small1') {
        grid-template-rows: minmax(50px, auto) minmax(50px, auto) auto;
    }
    @include respond-to('small') {
        grid-template-rows:  minmax(50px, auto) minmax(50px, auto) auto;
    }
    @include respond-to('very-small') {
        grid-template-rows:  minmax(20px, auto) minmax(20px, auto) auto;
    }

    h3{
        grid-row: 1;
        color: $main-text-white;
        @include responsive-font-size(18px, 20px, 24px)
    }
    p{
        grid-row: 2;
        color: $secondary-text-gray;

    }

    button{
        grid-row: 3;
        margin: 0;
        @include btn($border-gray, $light-dark-bg);
        max-width: 150px;
    }

   

}