
#home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    background-color: $light-dark-bg;
    width: 100%;
    
    .main-home-container{
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

}