
.card {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 2fr; 
    background-color: transparent;
    border: 1px solid $border-gray;
    border-radius: 8px;
    overflow: hidden;
    
    transition: transform 0.2s;
    padding: 40px;
    flex: 1 1 352px;
    // max-height: 800px;
    width: 100%;

    &.expanded {
        max-height: none; 
      }

    &:hover {
        transform: scale(1.02);
    }

    .prop-img {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        grid-row: 1;
        grid-column: span 2;
    }

    .property-desc-container {
        grid-column: span 2;
        grid-row: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        position: relative;

        h3{
            color: $main-text-white;
            @include responsive-font-size(18px, 20px, 24px)
        }
        p{
            margin-top: 10px;
            color: $secondary-text-gray;
        }

    }

    .prop-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        grid-row: 3;
        grid-column: span 2;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        

        .detail{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 0 10px;
            align-items: center;
            gap: 10px;
            color: white;
            border: 1px solid $border-gray;
            background-color: $light-dark-bg;
            border-radius: 28px;
            flex: 1 1 125px;
            max-width: 147px;
            width: 100%;

            @include responsive-font-size(10px, 12px, 14px);

            &:last-child{
                flex: 0 0 90px;
            }

            img{
                width: 24px;
                height: 24px;

                @include respond-to('medium') {
                    width: 22px;
                    height: 22px;
                   
                  }

                @include respond-to('small') {
                    width: 18px;
                    height: 18px;
                   
                  }
            }
        }
    }

    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-row: 4;
        grid-column: 1;
        margin-right: 10px;

        p{
           color: $secondary-text-gray;
        }
        h3{
            color: $main-text-white;
        }
    }

    .view-btn-container {

        @include btn($purple, $purple);
       
    }
}


